.App {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.App-header {
  background-color: #000;
  display: flex;
  padding: 10px;
  color: white;
}
.App-header span {
  flex: 1;
  display: flex;
}
.App-title {
  /* font-size: 1.5em; */
  font-size: 150%;
  font-weight: 200;
}
.searchbar {
  justify-content: flex-end;
}
